.logo{
	height: 25px; 
}
h1{
	background-color: #002C6A;
	color: white;
	font-family: helvetica;
	background-image: ;
	text-align: center;
}
h2{
	text-align: center;
	font-family: helvetica;
	color: #002C6A;
}
h3{
	color: #002C6A;
}
.steps{
	background-color: #002C6A;
	color: #EEBC60; 
	padding: 20px;
	text-align: center;
}
.ingredients{
	border: 2px;
	border-color: #002C6A;
	text-align: center;
}
.test img{
	width: 50%;
	text-align: center;
}
.info{
	  border: 2px solid;
	  margin: 2px;
	  width: 32.9922%;
	  border-color: #002C6A;
}
.ing{
	text-align: center;
	color: #002C6A;
	border: 5px solid;
	margin: 2px;
	width: 32.9922%;
}
.back{
	background-image: url(img/backsoda.jpeg); 
}
.media{
	font-size: 18px;
	color: #002C6A;

}